# Clion
.idea/
cmake-build-debug/

# libft
libft/

# test_file
# test.c
# test_main.c
# test_va.c
# printf_main.c

test.cc
test_main.cc
test_va.cc
printf_main.cc

 # Vim buffer file
 *.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
